<% include header.html %>
<div class="main">
	<h3>登录</h3>
	<div class="form">
		<form id='contactForm' method='post'>
			<p>
				<input type="text" id='userName' name='userName' placeholder='手机号/邮箱/昵称'>
				<em></em>
			</p>
			<p>
				<input id='passWord' name='passWord' type="password" placeholder='密码'>
				<em></em>
			</p>
			<div class="forget">
				<a class="left" href="/forget">忘记密码？</a>
				<a class="right" href="/register">没有帐号，立即注册 ></a>
			</div>
			<p>
				<a href="javascript:;" class="submit">登录</a>
			</p>
			
		</form>
	</div>
</div>

<script src='js/libs/validate.min.js'></script>
<script src='js/libs/message.js'></script>
<script src='js/libs/metadata.js'></script>
<script src='js/login.js'></script>

<% include footer.html %>