<% include header.html %>
<div class="main">
	<h3>设置昵称</h3>
	<div class="form">
		<form id='contactForm' method='post'>
			<p>
				<input type="text" id='nickname' name='nickname' placeholder='设置昵称'>
				<em></em>
			</p>
			<p>
				<a href="javascript:;" class="submit">下一步</a>
			</p>
			
		</form>
	</div>
</div>

<script src='js/libs/validate.min.js'></script>
<script src='js/libs/message.js'></script>
<script src='js/libs/metadata.js'></script>
<script src='js/nickname.js'></script>

<% include footer.html %>