[v-cloak] {
  display: none;
}
.login {
  width: 100%;
  background: #ddd;
  position: relative;
}
.login .loginContent {
  width: 400px;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}
.login .loginContent h3 {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  margin-bottom: 50px;
}
.login .loginContent .form {
  width: 300px;
  margin: 0 auto;
}
.login .loginContent .form p {
  width: 100%;
  clear: both;
}
.login .loginContent .form p:last-child {
  margin-top: 10px;
}
.login .loginContent .form p span {
  width: 80px;
  height: 28px;
  line-height: 28px;
  display: block;
  float: left;
  font-size: 14px;
}
.login .loginContent .form p input {
  width: 210px;
  border: none;
  height: 26px;
  border: 1px solid #eee;
  float: left;
  font-size: 14px;
  padding-left: 5px;
  border-radius: 3px;
}
.login .loginContent .form p em {
  color: #f00;
  height: 30px;
  width: 100%;
  overflow: hidden;
  display: block;
  line-height: 30px;
  font-size: 12px;
  margin-left: 80px;
  clear: both;
}
.login .loginContent .form p b {
  display: block;
  font-style: normal;
  width: 100%;
  height: 30px;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  color: #f00;
}
.login .loginContent .form p a {
  width: 100px;
  height: 24px;
  display: block;
  margin: 0 auto;
  border: none;
  background: #ccc;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  border-radius: 5px;
}
.adminHeader {
  width: 100%;
  height: 100px;
  background: #333;
  position: relative;
}
.adminHeader h1 {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 26px;
  letter-spacing: 3px;
}
.adminHeader p {
  position: absolute;
  right: 20px;
  color: #fff;
  bottom: 20px;
  font-size: 14px;
}
.adminHeader p span {
  font-size: 16px;
  margin-right: 20px;
}
.adminHeader p a {
  color: #fff;
  font-size: 14px;
}
.adminMian {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
}
.adminMian .adminLeft {
  float: left;
  width: 160px;
}
.adminMian .adminLeft .adminNav {
  width: 100%;
  overflow: hidden;
}
.adminMian .adminLeft .adminNav li p {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  background: #cdcdcd;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.adminMian .adminLeft .adminNav li div {
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
}
.adminMian .adminLeft .adminNav li div a {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: block;
}
.adminMian .adminLeft .adminNav li div a:hover {
  text-decoration: underline;
}
.adminMian .adminLeft .adminNav li div a.current {
  color: #f00;
}
.adminMian .adminRight {
  float: right;
  width: 1000px;
}
.adminMian .adminRight h1 {
  font-size: 20px;
  height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.adminMian .adminRight form td {
  padding-bottom: 20px;
  vertical-align: top;
}
.adminMian .adminRight form td input {
  border: 1px solid #eee;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  width: 900px;
}
.adminMian .adminRight form td textarea[name='desc'] {
  width: 100%;
  height: 70px;
  border: 1px solid #eee;
  font-size: 14px;
  align: top;
  line-height: 24px;
}
.adminMian .adminRight form td textarea[name='content'] {
  width: 100%;
  height: 350px;
  border: 1px solid #eee;
  font-size: 14px;
  align: top;
  line-height: 24px;
}
.adminMian .adminRight form .submit {
  background: lightgreen;
  width: 100px;
  font-size: 12px;
}
.adminMian .adminRight form .reset {
  background: #eee;
  width: 100px;
  font-size: 12px;
  margin-right: 10px;
}
.adminMian .adminRight .page {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none;
}
.adminMian .adminRight .page a {
  padding: 2px 5px;
  background: #eee;
  font-size: 12px;
  margin: 0 2px;
  cursor: pointer;
  color: #333;
}
.adminMian .adminRight .page a.active {
  background: #929292;
  color: #fff;
}
.adminMian .adminRight .page a:hover {
  background: #929292;
  color: #fff;
}
.adminMian .homeNewList table {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}
.adminMian .homeNewList table td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  font-size: 12px;
  height: 100px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}
.adminMian .homeNewList table td a {
  display: block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  background: #00e315;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 5px;
}
.adminMian .homeNewList table td a:last-child {
  background: #e7525d;
}
.adminMian .homeNewList table td img {
  width: 100px;
  display: block;
}
.alertBox {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.alertBox .box {
  background: #fff;
  border-radius: 10px;
  padding: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.alertBox .box p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.alertBox .box span {
  width: 120px;
  margin: 0 auto;
  display: block;
}
.alertBox .box span a {
  font-size: 14px;
  color: #fff;
  background: #999;
  display: block;
  padding: 3px 8px;
  border-radius: 5px;
}
.alertBox .box span .left {
  float: left;
}
.alertBox .box span .right {
  float: right;
  background: #ec0414;
}
